body {
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: o;
     background-color:rgb(0, 119, 255);
     }
     .container {
     text-align: center;
     }
     h1 {
          font-size: 3em;
     }
